.gradle
build
.idea
*.iml
*.ipr
*.iws
.DS_Store
.env
ci/variables.yml
components/allocations/out
components/rest-support/out
*/out/**
applications/allocations-server/out
applications/backlog-server/out
applications/registration-server/out
applications/timesheets-server/out
components/accounts/out
**/out/**
